# SMTP Configuration for Email Alerts
SMTP_HOST=
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=
WEBHOOK_URL=https://script.google.com/macros/s/AKfycby0MWfQhsfQb5c6MM3kNTa4BAcTWXHBEe8k4rhFAhntA7xuPIT-EDczmcNAI_MamtBX1g/exec
VITE_WEBHOOK_URL=https://script.google.com/macros/s/AKfycby0MWfQhsfQb5c6MM3kNTa4BAcTWXHBEe8k4rhFAhntA7xuPIT-EDczmcNAI_MamtBX1g/exec
EMAIL_FROM="GenAI ChatGPT" <noreply@genaichatgpt.com>
